    <div class="container">
        <div class="row">
        	<section class="bookDetails col-lg-12">
	            <h1 class="text-info">{{bookCtrl.detailBook.title}}</h1>
				<div class="preview col-lg-4">
					<p>Some image</p>
				</div>        		
				<div class="details col-lg-8">
                    <p><span class="text-info">Author:</span> {{bookCtrl.detailBook.author}}</p>
                    <p><span class="text-info">Description:</span> {{bookCtrl.detailBook.description}}</p>
                    <p><span class="text-info">Year of publishing:</span> {{bookCtrl.detailBook.year}}</p>				
                    <p><span class="text-info">Price:</span> Some price in 123$</p>				
                    <p><span class="text-info">Link for download:</span> Some link</p>				
				</div>        		
        	</section>
        </div>
    </div>