    <div class="container">
        <div class="row">
        	<section class="contactDetails col-lg-12">
                <h1 class="text-info">Contact information</h1>
	        	<p><span class="text-info">name:</span> Ivan Tsymbal</p>
	        	<p><span class="text-info">skype:</span> poccomaxa_zt</p>
	        	<p><span class="text-info">phone:</span> +38 (093) 766-91-02</p>
	        	<p><span class="text-info">email:</span> ivan@starweb.com.ua</p>
        	</section>
        </div>
    </div>
